!!! 5
html(lang="en")
  head
    title Heroku API
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="/jquery.color.js")
    script(src="/jquery.cookie.js")
    script(src="/kikai.js")
    link(rel="stylesheet", href="/kikai.css")
  body
    #container

      #header
        #api_key
          span API Key
          input(type="text")
        #accept
          span Accept
          select
            option application/json
            option application/xml
        h1 Heroku API
          
      ul.sidebar
        li.active
          a(href="/apps") Apps
        li
          a(href="/config") Config
        li
          a(href="/domains") Domains

      #content!= body
