body
  :background #15151b
  :font-family Helvetica, Arial, sans-serif
  :margin 0

#container
  :width 1000px
  :margin auto

#api_header
  :background #333
  :border-bottom #35353b 3px solid
  :color #fff
  :padding 3px 12px
  :height 29px
  h1
    :font-size 18px
    :margin 0
    :margin-top 5px
    :margin-left 16px
    :display inline-block
    :color #ccc
  #accept
    :float right
    :display inline-block
    :margin-top 4px
    :margin-right 40px
    select
      :background-color #aaa
      :border 1px #000 solid
    span
      :font-size 13px
      :margin-right 8px
      :color #999
  #api_key
    :float right
    :display inline-block
    :margin-top 4px
    :margin-right 13px
    span
      :font-size 13px
      :margin-right 8px
      :color #999
    input
      :width 300px
      :background-color #aaa
      :border 1px #000 solid
      :padding 2px

table#layout
  :border-collapse collapse
  :margin 0
  :width 100%
  td#sidebar
    :padding 20px 26px
    :padding-right 20px
    :vertical-align top
  td#content
    :padding 20px 26px
    :padding-left 0
    :width 100%

ul.sidebar
  :width 230px
  :margin 0
  :background #ccc
  :display inline-block
  :list-style-type none
  :padding 0
  :border 1px #15151b solid
  li
    :border-bottom 1px #15151b solid
    :background-color #1d1e3b
    a
      :color #8c89ad
      :padding 8px 12px
      :font-weight bold
      :text-decoration none
      :display inline-block
      :width 168px
    &.active
      :background-color #46476e
      a
        :color #ccc9ed
    &.item
      :background-color #45454b
      :font-size 0.75em
      :padding-left 4px
      a
        :color #aaa
        :font-weight normal
    &:hover
      :background-color #56577e
      a
        :color #dcd9fd
    &.item:hover
      :background-color #55555b
      a
        :color #bbb

#content
  .endpoint
    :margin-right 0
    :margin-bottom 30px
    :background #444
    :border 1px #15151b solid
    :padding-bottom 0
    :width 100%
    :color #AAA
    h4
      :margin 0
      :background #1d1e3b
      :padding 12px
      :border-bottom 1px #15151b solid
      :color #8c89ad
      .status
        :float right
        :margin-right 6px
        :display none
      .execute
        :float right
        :margin-top 1px
        :margin-right -2px
    .text
      :padding 12px
      :padding-bottom 10px
      :border-bottom 1px #15151b solid
      :line-height 24px
    .params
      :background #666
      .param
        :border-bottom 1px #15151b solid
        :color #000
        .name
          :display inline-block
          :width 130px
          :padding 8px 12px
          :font-size 0.9em
          :font-weight bold
        .input
          :display inline-block
          :padding 8px 12px
          input
            :width 150px
            :background-color #aaa
            :border 1px #000 solid
        .type
          :display inline-block
          :padding 8px 12px
          :padding-left 2px
          :font-size 0.75em
          :margin-right 10px
          :width 50px
          &.required
            :font-weight bold
          &.optional
            :font-style italic
        .text
          :display inline-block
          :padding 8px 12px
          :font-size 0.85em
          :border-bottom 0
          :margin-top 0px
    .example_selector
      :margin 0
      :margin-top -2px
      :margin-right -10px
      :padding 0
      :float right
      :padding-bottom 0
      :list-style-type none
      li
        :margin 0
        :padding 0
        :display inline-block
        :cursor pointer
        :padding 3px 8px
        :margin-right 8px
        :font-size 11px
        :background #45454b
        :color #aaa
        :border 1px #15151b solid
      li.active
        :background #434769
        :color #ccc
    .examples
      :padding-top 0
      :background #333
    .example
      :background #222
      :display none
    .curl
      textarea
        :height 70px
    .response
      textarea
        :height 200px
    textarea
      :width 100%
      :font-family Menlo, Inconsolata, Consolas, "Ubuntu Mono", Courier, Courier New, monospace
      :-webkit-box-sizing border-box
      :-moz-box-sizing border-box
      :box-sizing border-box
      :display block
      :background #000
      :color #AAA
      :border 1px #222 solid
      :padding 8px
      :margin 0


#getting-started
  h2
    :background #1d1e3b
    :color #8c89ad
    :border 1px #15151b solid
    :margin 0
    :padding 8px 12px
    :font-size 18px
    :border-bottom 0
  .section
    :background-color #333
    :padding 0px 8px
    :border 1px #15151b solid
    :margin-bottom 12px
    :color #bbb
    :font-size 14px
    a
      :color #aca9cd
      :font-weight bold
    h3
      :border 0
      :border-bottom 2px #222 solid
      :color #DDD
      :padding 4px
      :margin-left 4px
      :margin-bottom 4px
      :margin-top 12px
  .response-codes
    p
      :margin-top 0px
      :padding 0
  .errors
    .code
      :margin-top 8px
  p
    :margin 0
    :padding 0
    :margin 14px 8px
    :line-height 20px
    code
      :font-size 14px
      :font-family Menlo, Inconsolata, Consolas, "Ubuntu Mono", Courier, Courier New, monospace
      :color #ccc
  p.code
    :background #000
    :font-family Menlo, Inconsolata, Consolas, "Ubuntu Mono", Courier, Courier New, monospace
    :padding 8px 16px
    :border 1px #222 solid
    :color #AAA
    :margin-top -2px
